body{
    font-family: 'Open Sans',sans-serif;
    background-color: black;
}
#container{
    width: 600px;
    height: 460px;
    background-image: url(pract.jpg);
    margin: 2px auto;
}
#calculator{
    width: 220px;
    height: 430px;
    background-color: white;
    margin: 0 auto;
    top: 10px;
    position: relative;
    border-radius: 5px;
}
#result{
    height: 110px;
}
 #keyboard{
    height: 400px;
} 
#history{
    text-align: right;
    height: 20px;
    margin: 0 30px;
    padding-top: 20px;
    font-size: 20px;
    color: #919191;
}
#output{
    text-align: right;
    height: 70px;
    margin: 5px 20px;
    font-size: 25px;
}
.operator, .number, .empty{
     width: 45px;
     height: 55px;
     margin: 4px;
     float: left;
    border-radius: 40%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
    /* background-color: darkgray; */
}
.operator{
    background-color: darkgray;
}
.number,.empty{
    background-color: white;
}
.number,.empty{
    cursor: pointer;;
}
.operator:active, .number:active{
    font-size: 10px;
}
.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}
